apiVersion: apps/v1
kind: Deployment
metadata:
  name: vote-ui
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: vote-ui
  template:
    metadata:
      labels:
        app: vote-ui
    spec:
      containers:
      - image: docker.io/okapetanios/vote:8d9c28f4565382340601ca208ed1839a75f1af7e
        name: vote-ui
        ports:
        - containerPort: 80
